/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C63FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5A52D8;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
li {
  list-style-type: none;
}

a:link,
a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.padd_updown {
  padding: 50px 0px;
}

.padd_updown2 {
  padding: 150px 0px;
}

.padd_updown_small {
  padding: 20px 0px;
}

.padd_down {
  padding: 0px 0px 100px 0px;
}

.text-right {
  text-align: right;
}

/*  Info Bar  */
.infobar {
  width: 100%;
  background: #6C63FF;
  color: #fff;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.infobar .logo {
  float: left;
  padding: 0;
}

.infobar .logo a {
  color: #fff;
}

.infobar .menu {
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.infobar .menu li a {
  color: #fff;
  padding: 0px 30px;
  text-transform: uppercase;
}

.mobile_menu {
  display: none;
}

/*  Info Bar #END  */
/*  buttons        */
.btn {
  padding: 10px 35px;
}

.btn-large {
  padding: 15px 40px;
}

.btn_upper {
  padding: 10px 35px;
  text-transform: uppercase;
}

.btn_ul_spacing {
  padding: 10px 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
}

.btn_ub_spacing {
  padding: 10px 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn_radius_5 {
  border-radius: 5px;
}

.primary {
  background: #6C63FF;
  color: #fff;
}

.secondary {
  background: #fff;
  color: #6c63ff;
}

.b_black {
  background: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#121212));
  background: linear-gradient(#212121, #121212);
  color: #fff;
}

.margin_btn {
  margin-right: 20px;
}

/*  Buttons #end  */
/*  Section Header  */
#section_header {
  width: 100%;
  overflow: hidden;
  background-image: url(../assets/images/adobexd/pattern.svg);
  background-size: cover;
  padding: 150px 0px 180px;
}

#section_header .page_heading {
  float: left;
  width: 50%;
}

#section_header .page_heading h1 {
  text-transform: uppercase;
  font-size: 70px;
  margin: 5px 0px;
}

#section_header .page_heading p {
  width: 80%;
  font-size: 22px;
  font-weight: 100;
  line-height: 33px;
}

#section_header .welcome_svg {
  float: right;
  width: 50%;
  margin-right: -50px;
}

/* prelazi */
.header_end {
  overflow: hidden;
  margin-top: -150px;
  padding: 0;
  background-image: url(../assets/images/adobexd/new_section_from_header.svg);
  background-size: cover;
  width: 100%;
  height: 166px;
}

.main_end {
  overflow: hidden;
  margin-top: 0px;
  padding: 0;
  background-image: url(../assets/images/adobexd/section_end.svg);
  background-size: cover;
  width: 100%;
  height: 166px;
}

.contact_begin {
  overflow: hidden;
  margin-top: 0px;
  padding: 0;
  background-image: url(../assets/images/adobexd/contact_prelaz.svg);
  background-size: cover;
  width: 100%;
  height: 376px;
}

/*  Section Header #END  */
/*  Section MAIN  */
#section_main {
  background: #6C63FF;
  color: #fff;
  overflow: hidden;
}

#section_main .about_left {
  float: left;
  width: 40%;
}

#section_main .about_right {
  float: right;
  width: 50%;
  background-image: url(../assets/images/adobexd/triangle_pattern.svg);
  background-size: cover;
  padding: 100px 0px;
}

#section_main .about_right .page_heading {
  margin-top: -50px;
}

#section_main .about_right .page_heading h3 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 5px 0px;
}

#section_main .about_right .page_heading p {
  font-size: 22px;
  font-weight: 100;
  line-height: 33px;
}

.videolayer {
  background: #fff;
  display: inline-block;
  padding: 100px;
  border-radius: 10px;
}

/*  Section MAIN #END  */
/*  Section TEAM  */
.team_title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.team_title h3 {
  font-size: 58px;
  letter-spacing: 3px;
  font-weight: black;
  padding: 0;
  margin: 0;
  position: relative;
}

.team_title p {
  font-size: 18px;
  letter-spacing: 3px;
  padding: 0;
}

.card_rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.team_card {
  width: 33.3%;
}

.team_card img {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.team_card_open {
  width: 33.3%;
}

.team_card_open img {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.team_card h4,
.team_card_open h4 {
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
  color: #4A4A4A;
  font-weight: bold;
}

.team_card p,
.team_card_open p {
  letter-spacing: 0px;
  font-size: 35px;
  font-weight: 100;
  margin: 0px 0px 20px 0px;
  color: #4A4A4A;
}

/*  Section TEAM #END  */
/*  Section Contact  */
#section_contact {
  background: #6C63FF;
  margin: 0;
}

.contact_title {
  width: 20%;
  text-align: left;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 0px 70px;
}

.contact_title h4 {
  font-size: 60px;
  letter-spacing: 3px;
  color: #fff;
}

.form_frame {
  background: #fff;
  border-radius: 10px;
  padding: 140px 40px;
  overflow: hidden;
}

form.contact {
  float: left;
  width: 40%;
  margin: 30px 0px;
}

form.contact .form-control {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #6C63FF;
  display: block;
  padding: 15px 50px;
  margin: 60px 0px;
}

.velicinatest {
  width: 100%;
  display: block;
}

.svg_contact {
  float: right;
  width: 50%;
  background-image: url(../assets/images/adobexd/contact_undraw.svg);
  background-repeat: no-repeat;
  width: 757px;
  height: 400px;
}

textarea.body_text {
  max-width: 100%;
  max-height: 100px;
}

/*  Section Contact #END  */
/*  Footer  */
footer {
  background: #6C63FF;
  text-align: center;
  font-size: 22px;
  padding: 50px 0px;
  color: #fff;
  font-weight: 100;
}

footer .vaskrsije {
  color: #eee;
  margin: 0;
}

footer .vaskrsije:hover {
  font-size: 33px;
  color: pink;
  -webkit-transition: 1s;
  transition: 1s;
}

.red {
  color: red;
}

.red:hover {
  font-size: 33px;
  color: pink;
  -webkit-transition: 1s;
  transition: 1s;
}

.social_links_contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

.social_links_contact li {
  margin: 5px 10px;
}

.social_links_contact li a {
  margin: 0;
  color: #ccc;
}

.social_links_contact li a:hover {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

/*  Footer #END  */
/*  Mobile 375px x 812x  */
@media only screen and (max-width: 600px) {
  .infobar .menu {
    width: 100%;
    display: none;
    text-align: center;
    position: relative;
  }
  .mobile_menu {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
  }
  .wrapper {
    width: 95%;
  }
  #section_header .page_heading {
    width: 100%;
    text-align: center;
  }
  #section_header .page_heading h1 {
    font-size: 50px;
  }
  #section_header .page_heading p {
    width: 100%;
  }
  #section_header .welcome_svg {
    display: none;
  }
  #section_main .about_left,
  #section_main .about_right {
    display: block;
    width: 100%;
  }
  .videolayer {
    display: block;
  }
  .team_title p {
    display: none;
  }
  .padd_updown2 {
    padding: 50px 0px;
  }
  .card_rows {
    display: block;
    width: 100%;
  }
  .team_card {
    display: none;
  }
  .team_card_open {
    width: 100%;
  }
  #section_contact {
    width: 100%;
  }
  .contact_begin {
    height: 100px;
  }
  .contact_title {
    border: 0;
    width: 100%;
    padding: 0;
  }
  .contact_title h4 {
    text-align: center;
  }
  .form_frame {
    position: relative;
    background-image: url();
    padding: 40px 40px;
  }
  form.contact {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 40px 0px;
  }
}

/*  Mobile 375px #END  */
/*  Navigation  */
/*  Navigation #END  */
/*  Navigation  */
/*  Navigation #END  */
/*# sourceMappingURL=style.css.map */